<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Location permissions required for Bluetooth scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <meta-data
        android:name="com.mapbox.maps.token"
        android:value="@string/mapbox_access_token" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeLink"
        tools:targetApi="31">





            <!-- Other configurations -->










        <activity
            android:name=".View.WelcomeActivity"
            android:exported="true">


        </activity>

        <!-- Add LoginActivity declaration-->
        <activity
            android:name=".View.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".View.HealthInfoActivity"
            android:exported="true" />

        <activity
            android:name=".View.MedicalProfileActivity"
            android:exported="true" />


        <activity
            android:name=".View.GeoMapsActivity"
            android:exported="true" >


        </activity>








        <activity
            android:name=".View.HealthTrackerActivity"
            android:exported="false" />

        <!--<activity
             android:name=".View.HealthDetailBottomSheet"
             android:exported="false"
             android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->

         <activity android:name=".View.ResetPasswordActivity"
             android:exported="false"
             android:theme="@style/Theme.AppCompat.Light.NoActionBar" />




         <activity

             android:name=".View.RegisterActivity"
             android:exported="true">








         </activity>







         <activity
             android:name=".View.HomeActivity"
             android:exported="true" >


        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


         </activity>











         <activity android:name=".View.SignIn"
             android:exported="true"
             />

         <activity
             android:name=".View.ProfileActivity"
             android:exported="false"
             android:theme="@style/Theme.AppCompat.Light.NoActionBar" />






        <activity android:name=".View.RemindersWelcomeActivity"
            android:exported="true">


        </activity>


        <activity
            android:name=".View.AddReminderActivity"
            android:theme="@style/Theme.LifeLink.Reminder" />






        <activity android:name=".View.DashboardActivity"
            android:exported="true"
            />




        <receiver android:name=".View.ReminderAlarmReceiver" />

        <activity
            android:name=".View.AddAppointmentActivity"
            android:theme="@style/Theme.LifeLink" />

        <receiver android:name=".View.AppointmentNotificationReceiver"
            android:exported="true" />


        <meta-data
             android:name="com.google.android.geo.API_KEY"
             android:value="@string/MY_MAP_API_KEY" />

        <activity
            android:name=".View.EmergencyActivity"
            android:exported="true" />


        <activity
            android:name=".View.HeartConditionOptionsActivity"
            android:exported="true" />





        <activity
            android:name=".View.VerificationActivity"
            android:exported="true" />
        <activity
            android:name=".View.PhoneVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:exported="true" />



        <activity
            android:name=".View.AIChatActivity"
            android:exported="true" />







        <activity
            android:name=".View.ChatHistoryActivity"
            android:exported="true" >








</activity >



    </application>







</manifest>